<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="Card.css">
  <title>Perry's Card</title>
</head>

<body>

<div class="card">
  <article>
  <img class="mainImage" src="images/20240413_095423.jpg" alt="An image of perry chamileke smiling in a cap">
    <p class="category">Programmer</p>
    <h2>Perry</h2>
     <p class="date"><em>Joined 20/11/24</em></p>
     <p class="text">A budding developer that dreams of travelling of the world.</p>
<button type="button">Learn more...</button>

  </article>
  <div class="authorInfo">
    <img class="profile" src="images/20240413_095423.jpg">
    <h4>Perry Chamileke</h4>
  </div>
</div>

</body>

</html>